<form #form='ngForm' class="mb-4" autocomplete="off" (submit)="resetPassword(form)">
<div class="modal">
  <div class="modal-header">
    Reset Password
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row mb-3">
        <span>Please enter below required information to continue.</span>
      </div>
      <div class="row">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
          </div>
          <input type="text" class="form-control" aria-label="Default"
                 aria-describedby="inputGroup-sizing-default"  #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Old Password</span>
          </div>
          <input type="password" class="form-control" aria-label="Default"
                 aria-describedby="inputGroup-sizing-default"  #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">New Password</span>
          </div>
          <input type="password" class="form-control" aria-label="Default"
                 aria-describedby="inputGroup-sizing-default"  #ConfirmPassword="ngModel" name="ConfirmPassword" [(ngModel)]="formModel.ConfirmPassword" required>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-6 alignleft">
      <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div>
    <div class="col-md-6 alignright">
      <button type="submit" class="btn btn-primary" [disabled]=form.invalid>Continue</button>
    </div>
  </div>
</div>
</form>
